<?
var modelVariable = modelName.toLowerCase();
var basePath = modelName.toLowerCase();
var basePathPlural = controllerName.toLowerCase();
var addIncl = namespace ? "../" : "" ;
var nsPath = namespace ? namespace + "_" : "" ;
?>
<% layout('../default_layout') -%>
<!-- index page -->
<!-- page breadcrumb -->
<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li class="active"><a href="<%- pathTo.<?= nsPath ?><?= basePathPlural ?>() %>"><%- title %></a></li>
</ul>
<%- partial('../messages') %>
<!-- page title -->
<div class="page-header">
    <h1><%- title %></h1>
</div>

<!-- page submenu -->
<div class="row">
    <div class="span12">
        <p>
            <a href="<%- pathTo.new_<?= nsPath ?><?= modelVariable ?>() %>" class="btn btn-primary">
                <i class="icon-plus icon-white"></i> New <?= modelName ?>
            </a>
        </p>
    </div>
</div>
<!-- items list -->
<% if (<?= basePathPlural ?>.length > 0) { %>
<table class="table table-striped table-hover">
    <tr>
        <th><%- sortFor('_id' /* field name */,'ID' /* column title */, "Sorting column" /* tooltip message */) %></th>
        <th class="span3" style="text-align:center">Action</th>
    </tr>
    <% <?= basePathPlural ?>.forEach(function(<?= modelVariable ?>){ %>
    <!--item id <%= <?= modelVariable ?>.id %> -->
    <tr>
        <td><a href="<%- pathTo.show_<?= nsPath ?><?= modelVariable ?>(<?= modelVariable ?>.id) %>"><%- formVal(<?= modelVariable ?>.id) %></a>
        </td>
        <td style="text-align:right">
            <a class="btn btn-mini" href="<%- pathTo.show_<?= nsPath ?><?= modelVariable ?>(<?= modelVariable ?>.id) %>"><i class="icon-list-alt"></i> Detail</a>
            <a class="btn btn-mini" href="<%- pathTo.edit_<?= nsPath ?><?= modelVariable ?>(<?= modelVariable ?>.id) %>"><i class="icon-edit"></i> Edit</a>
            <a class="btn btn-mini btn-danger" href="<%- pathTo.destroy_<?= nsPath ?><?= modelVariable ?>(<?= modelVariable ?>.id) %>" data-remote="true" data-method="delete" data-jsonp="(function (u) {location.href = u;})"><i class="icon-remove icon-white"></i> Delete</a>
        </td>
    </tr>
    <% }) %>
    <tfoot>
    <tr>
        <td colspan='2'><%- pagerHtml %></td>
    </tr>
    </tfoot>
</table>
<% } else { %>
<!--no items list-->
<p class="alert alert-block alert-info">
    <strong>No <?= basePathPlural ?> were found.</strong>
</p>
<% } %>

<!-- confirm modal dialog -->
<div id="dialog-confirm" style="display: none;" title="Delete <?= modelVariable ?>?">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This will be permanently deleted and cannot be recovered. Are you sure?
    </p>
</div>
<!-- end index page -->