<?
	var modelVariable = modelName.toLowerCase();
	var basePath = modelName.toLowerCase();
	var basePathPlural = controllerName.toLowerCase();
  var addIncl = namespace ? "../" : "" ;
  var addView = namespace ? namespace + "/" : "" ;
  var nsPath = namespace ? namespace + "_" : "" ;
?>
<% layout('../default_layout') -%>
<!-- show page -->
<!-- page breadcrumb -->
<ul class="breadcrumb">
    <li><a href="/<?= nsPath ?>">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.<?= nsPath ?><?= basePathPlural ?>() %>"><?= controllerName ?></a> <span class="divider">/</span></li>
    <li class="active"><a href="#"><%- title %></a></li>
</ul>
<%- partial('../messages') %>
<!-- page title -->
<div class="page-header">
    <h1><%- title %></h1>
</div>

<!-- item details -->
<table class="table table-bordered">
    <tbody>
    <? fields.forEach(function (field) { ?>
    <tr>
        <th class="span4"><?= field.param_name ?></th>
        <td><%- formVal(<?= modelVariable ?>.<?= field.param_val ?>) %></td>
    </tr>
    <? }) ?>
    </tbody>
</table>

<div class="well">
    <a class="btn" href="<%- pathTo.edit_<?= nsPath ?><?= modelVariable ?>(<?= modelVariable ?>) %>"><i class="icon-edit"></i> Edit</a>
    <a class="btn btn-danger" href="<%- pathTo.destroy_<?= nsPath ?><?= modelVariable ?>(<?= modelVariable ?>) %>" data-remote="true" data-method="delete" data-jsonp="(function (u) {location.href = u;})"><i class="icon-remove icon-white"></i> Delete</a>
    <a class="btn" href="<%- pathTo.<?= nsPath ?><?= basePathPlural ?>() %>" title="List <?= controllerName ?>"><i class="icon-tasks"></i> List <?= controllerName ?></a>
</div>

<!-- confirm modal dialog -->
<div id="dialog-confirm" style="display: none;" title="Delete <?= modelVariable ?>?">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This will be permanently deleted and cannot be recovered. Are you sure?
    </p>
</div>
<!-- end show page -->